<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.fingermobile" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="24" />
	<application android:label="FingerMobile.Android" android:theme="@style/MainTheme">
		<receiver android:name=".Classes.DeviceMonitor" android:enabled="true" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.UMS_CONNECTED" />
				<action android:name="android.intent.action.UMS_DISCONNECTED" />
				<action android:name="android.hardware.usb.action.USB_STATE" />
			</intent-filter>
		</receiver>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />
	<uses-feature android:name="android.hardware.usb.host" android:required="false" />
</manifest>